.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid grey;
  border-radius: 20px;
 
}

.table th, .table td {
  padding: 10px; 
  text-align: left;
  
}

.table th {
  background-color: #f8f8f8;
  cursor: pointer;
  
  
}


.filter-container {
  margin-bottom: 10px; 
  display: flex;
  justify-content: flex-end;
  gap: 10px; 
}

.filter-container label {
  font-weight: bold;
}

.filter-container select {
  padding: 8px;
  font-size: 14px;
}

.sortable {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sort-arrow {
  margin-left: 5px;
  font-size: 12px;
  opacity: 0.7;
}

.sort-arrow::before {
  content: '▲'; 
  display: inline-block;
  transform: rotate(0deg);
}

.ascending .sort-arrow::before {
  transform: rotate(0deg); 
}

.descending .sort-arrow::before {
  transform: rotate(180deg); 
}
.table tr {
  border-bottom: 1px solid #ccc;
}